.hero {
    
    padding: 118px 0px;
    text-align: center;
    background: var(--secondary-bg-color);
    @media screen and (min-width: 1200px){
        padding: 200px 0px;
    }
}

.overlay {
    
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    // background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
    //         rgba(47, 48, 58, 0.4)),
    //     url(../images/hero-img.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../images/hero-img-mob1x.jpg);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media screen and (min-width: 1200px){
        max-width: 1600px;
    }
}
  
 @media (min-resolution: 2dppx){
    .overlay{
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/hero-img-mob2x.jpg);
    }
 }

 
  @media screen and (min-width:768px){
    .overlay{
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../images/hero-img-tab1x.jpg);
        }
                @media (min-resolution: 2dppx) {
                    .overlay {
                        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
                                rgba(47, 48, 58, 0.4)),
                            url(../images/hero-img-tab2x.jpg);
                    }
  }
}

@media screen and (min-width:1200px) {
    .overlay {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../images/hero-img-desktop1x.jpg);
    }

    @media (min-resolution: 2dppx) {
        .overlay {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/hero-img-desktop2x.jpg);
        }
    }
}
.hero-title {
    margin-top: 0px;
    margin-bottom: 30px;
   
    max-width: 360px;
    margin-right: auto;
    margin-left: auto;
    font-weight: 900;
    
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-bg-color);
    @media screen and (min-width: 1200px) {
        max-width: 696px;
        font-size: 44px;
        line-height: 1.36;
    }
}


.hero-button {
    margin-top: 0px;
    border-radius: 4px;
    padding: 8px 22px;
    display: inline-block;
    min-width: 200px;
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background: var(--accent-color);
    color: var(--primary-bg-color);
    border: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
        background-color: var(--primary-bg-color);
    }
}


// .backdrop {
//     position: fixed;
//     background: rgba(0, 0, 0, 0.2);
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     transition: 1500ms cubic-bezier(0.4, 0, 0.2, 1);
//     z-index: 2;
// }

// .modal {
//     display: block;
//     position: absolute;
//     width: 528px;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     background-color: var(--primary-bg-color);
//     padding: 40px;
// }

// .backdrop.is-hidden {
//     opacity: 0;
//     pointer-events: none;
// }

// .btn-modal {
//     display: flex;
//     align-items: center;
//     position: absolute;
//     padding: 0;
//     top: 8px;
//     right: 8px;
//     cursor: pointer;
//     fill: #000000;
//     background: var(--primary-bg-color);
//     border: 1px solid rgba(0, 0, 0, 0.1);
//     border-radius: 50%;
//     transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .btn-modal:hover,
// .btn-modal:focus {
//     fill: var(--accent-color);
// }




